.post {
    position: relative;
    overflow: hidden;
    height: 500px;

    img {
        position: absolute;
        height: 88%;
        top: 80px;
        left: -120px;
    }

    .container {
        padding-left: 30%;
    }

}