.post {
    position: relative;
    height: 500px;

    img {
        position: absolute;
        width: 58%;
        top: 80px;
        left: -120px;
    }

    .container {
        padding-left: 30%;
    }

}