.tell-story,
.corporative {
    .container {
        flex-wrap: wrap;
        h1 {
            text-align: center;
        }
    }
}

.btns-container,
.corporatives-container {
    width: 100%;
}

.tell-story {
    padding: 200px 10px;

    p {
        text-align: center;
    }

    .btns-container {
        padding: 50px;
    
        .btn {
            width: 150px;
            color: $brown;
        }
    }
}

.allies {
    background-image: url("../img/utensilios.jpg");
    background-position: right center;
    width: 100%;
    height: 100vh;
    max-height: 600px;
    position: relative;

    .cover-bg {
        position: absolute;        
        padding: 50px 10px;
        width: 100%;
        height: 100%;
        background-color: rgba($color: #503615, $alpha: 0.8);
    }

    .container {
        flex-wrap: wrap;
        height: 70%;
        min-height: 300px;
    }

    h1 {
        text-align: center;
        color: $white;
    }

    .slideshow-control {
        background-color: transparent;

        &.control-active {
            background-color: $white;
        }
    }
}

.allies-container {
    position: relative;

    .slideshow-element {
        width: 100%;
        height: 60%;
    }
}

.corporative {
    padding: 200px 10px;
}

.corporatives-container {
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 1fr;
    padding-top: 50px;
    grid-column-gap: 10px;
}

.card-corporative {
    grid-column: span 1;
    grid-template-columns: 1fr;
    grid-template-rows: 150px 50px auto;

    p,
    h2 {
        width: 100%;
    }
    
    img {
        border: solid 1px $brown;
        height: 200px;
        width: 200px;
        margin: 0 auto;
        border-radius: 50%;
    }

    h2,
    p {
        text-align: center;
    }
}

.suscribe {
    padding: 100px;
    background-color: $light-brown;

    form {
        width: 100%;
    }

    .btn {
        width: 200px;
        margin-right: 10px;
    }

    input[type='email'] {
        width: 60%;
        margin-left: 10px;
    }
}