// .testimonials {

// }

.title-dark-brown {
    color: $dark-brown;
}

.title-light-brown {
    color: $light-brown;
}

.title-pink {
    color: #fb93be;
}

.card-testimonial {
    flex-wrap: wrap;
    height: 500px;
    padding: 10px;
    text-align: center;
}